.button1 
{
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);  
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
    background-color: #57a957;
    border-color: #57a957;
    border-radius: 3px;
    cursor:pointer;
    font-size: 14px;
}

.queryResultsTable
{
	word-wrap:break-word;
}
.queryResultsTable td, th, tr
{
	border: 1px solid blue;
	vertical-align: top;
    text-align: left;
	padding: 2px;
	margin: 0px;
}